:root {
    --color-brand: #2196f3;
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-primary-light: #ffffff;
    --font-family-brand: "Raleway", sans-serif;
    --font-family-primary: "Roboto", sans-serif;
    --color-sprite1: #afb1b8;
    --color-icon: #f5f4fa;
    --color-mark-active: #188ce8;
}